.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.PostForm {
  display: inline-block;
}

.PostForm label {
  color: brown;
  width: 5px;
}

.PostForm .Form-btn {
  margin: 3% 3%;
}

.Res-key {
  font-weight: bold;
}

.heading_senior {
  background-color: rgb(155, 8, 8);
  color: black;
  list-style-type: upper-roman;

}

.heading_junior {
  background-color: rgb(13, 148, 79);
  color: black;
  list-style-type: upper-roman;
}

.submit_btn {
  margin: 1% 2%;
  background-color: rgb(197, 165, 82);
}

.avatar {
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 3px;
  width: 100px;
}

.api_res {
  display: inline-block;
}

.res_box {
  display: inline-block;
  border: 2px solid rgb(14, 136, 223);
  margin: 5px;
}

.detail_box {
  display: inline-block;
  border: 2px solid rgb(143, 35, 35);
  margin: 5px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(5, 3, 79);
}

.Nav li {
  float: left;
}

.Nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.Nav li a:hover {
  background-color: rgb(120, 19, 167);
}

.active {
  background-color: #029cfd;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}